<h1>Eventbook</h1>

<div id="event_list">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Date & time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @events.each do |event| %>
          <td><%= event.title %></td>
          <td><%= event.event_date.strftime("%b %d") %> @ <%= event.event_time.strftime("%H:%M") %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to 'New event', new_event_path %>
