// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.separator {
  border-bottom-style: double;
  padding-bottom: 20px;
}

.details {
  float:inline-end;
}

input, textarea {
  border: 1px solid #BBB;
  margin-bottom: 15px;
}

#highlights-section {
  float:inline-end;
  padding-top:20px;
  padding-right:20px;
}

.main_list_item {
  font-size: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

.item_data {
  font-size: 14px;
  float: right;
}
